# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentations for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://JohnDoe:johndoe@localhost:5432/mydb?schema=public"
PORT=

FE_URL=
BE_URL=

EMAIL_USERNAME=
EMAIL_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=3d

IS3_END_POINT=
IS3_ACCESS_KEY_ID=
IS3_SECRET_ACCESS_KEY_ID=
IS3_BUCKET_NAME=
IS3_REGION=id-jakarta-1

MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USER=
MAILER_PASSWORD=
MAILER_TLS_REJECT_UNAUTHORIZED=false

OTP_EXPIRES_IN=5m